.food-list-content {
  background-color: var(--color_secondary);
  border-bottom: 0.1px solid rgba(131, 127, 127, 0.692);
  width: 100%;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  position: absolute;
  z-index: 5;
  border-radius: 10px;
}
.img-container > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food-content-details {
  z-index: 6;
  flex: 1 1 auto;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 0.603);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.food-content-details > span:first-child {
  font-size: 1.3rem;
  font-weight: 700;
}
.food-content-details > span:last-child {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color_tertiaryLight);
}

.food-details {
  font-size: 0.9rem;
  width: 100%;
}

.food-content-buy {
  background-color: rgba(255, 255, 255, 0.795);
  padding: 10px;
  z-index: 6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-flow: column nowrap;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 554px) {
  .food-content-details > span:first-child {
    font-size: 1rem;
    font-weight: 700;
  }
  .food-content-details > span:last-child {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color_tertiaryLight);
  }

  .food-details {
    font-size: 0.8rem;
    width: 100%;
  }
}
