.food-list-container {
  width: 80%;
  height: 60%;
  z-index: 1;
  background-color: var(--color_secondary);
  padding: 1rem;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  gap: 5px;
  animation: slide-down 300ms ease-out forwards;
}

.data-loading,
.data-error {
  padding: 1rem;
  border-radius: 10px;
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
}
.data-error {
  color: brown;
}
@media screen and (max-width: 554px) {
  .food-list-container {
    height: 55%;
    width: 95%;
  }
}
