@import "../RootValues.css";
/* Expense Page */
#expensePage {
  height: 100%;
  width: 70%;
  background-color: var(--color_60);
  color: var(--font_color_30);
}

/* Expenses Container */

#expense_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  position: relative;
}

/* Expense Data Filter and Chart container */

#expense_data_filter_chart_container {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  position: sticky;
  top: 0;
  padding: var(--padding_var);
  background-color: var(--color_60);
}

/* New Expenses Data collection */
#newExpense_container {
  width: 100%;
  justify-content: flex-start;
  flex-flow: column nowrap;
  background-color: var(--color_30);
  padding: var(--padding_var);
  border-radius: var(--border_radius_max);
  border: 0.5px solid var(--font_color_30);
}

/* Expense Form */

.expense_form {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.expense_form_Input_container {
  width: 100%;
  justify-content: space-around;
  padding: var(--padding_var);
  gap: var(--space_60);
  flex: 1 1 auto;
  border: none;
}
.expense_form_Input_container > div {
  width: 100%;
  flex: 0 1 auto;
}
.input_label {
  color: var(--font_color_60);
}
.expense_input {
  width: 100%;
  background-color: var(--font_color_60);
  color: var(--color_60);
  padding: 5px;
  border: none;
  border: 0.5px solid var(--color_30);
  border-radius: var(--border_radius_max);
}
.expense_input.input_alert {
  width: 100%;
  border-color: red;
  background-color: salmon;
  color: var(--color_60);
}
.expense_form_Button_container {
  width: 100%;
  justify-content: space-between;
  gap: var(--space_60);
  padding: var(--padding_var);
  border: none;
}

/* Expense Filter */
.expense_filter_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Expense chart */
.expense_chart_cotainer {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--font_color_30);
}

/* chart styles */
.chart_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--padding_var);
}
.chartBar_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}

.chart_label {
  color: var(--color_60);
}

/* Expense list style*/
.expense_list_container {
  width: 100%;
  padding: var(--padding_var);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: var(--padding_var);
  font-size: larger;
}
.list_item {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--color_30);
  gap: var(--padding_var);
}
.list_item_price {
  padding: 8px;
  min-width: 10%;
  background-color: var(--color_10);
  color: var(--color_60);
  border-color: var(--color_60);
}
.list_item_label {
  color: var(--font_color_60);
  font-size: x-large;
  height: 100%;
  min-width: 20%;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  border: none;
}
@media screen and (max-width: 930px) {
  #expensePage {
    width: 80%;
  }
}
@media screen and (max-width: 830px) {
  #expensePage {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  #expensePage {
    width: 100%;
  }
  .expense_form_Input_container {
    flex-flow: column nowrap;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 430px) {
  #expensePage {
    width: 100%;
  }
  .expense_form_Button_container {
    justify-content: space-evenly;
    flex-flow: column-reverse nowrap;
  }
  .expenseButton {
    width: 100%;
  }
  .expense_chart_cotainer {
    display: none;
  }
}
